# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_LAUNCHPAD

config BOARD
	default "particle_xenon"

config ZMK_KEYBOARD_NAME
	default "LaunchPad"

if USB

config USB_NRFX
	default y

config USB_DEVICE_STACK
	default y

endif # USB


config ZMK_BLE
	default y

config ZMK_USB
	default y

config ZMK_KSCAN_MATRIX_POLLING
	default y

config ZMK_KSCAN_COMPOSITE_DRIVER
	default y

config ZMK_BATTERY_VOLTAGE_DIVIDER
	default y

# Bluetooth settings
config BT_CTLR
	default BT

config BT_BONDING_REQUIRED
	default y

config BT_SMP_SC_ONLY
	default y

config BT_SETTINGS_CCC_STORE_ON_WRITE
	default y

# Hardware stuff
config HW_STACK_PROTECTION
	default y

config MPU_ALLOW_FLASH_WRITE
	default y

config NVS
	default y

config FLASH
	default y

config FLASH_MAP
	default y

# MCUBoot
config BOOTLOADER_MCUBOOT
	default y

config ROM_START_OFFSET
	default 0x200

endif
