/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp INT1     &kp INT2     &kp INT3
&kp INT4     &kp INT5     &kp INT6
&kp INT7     &kp INT8     &kp INT9
            >;
        };
    };
};
