# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_LAB68

config BOARD
	default "particle_xenon"

config ZMK_KEYBOARD_NAME
	default "Lab68"

config I2C
	default y

config GPIO_MCP230XX
	default y

config EC11
	default y

if USB_DEVICE_STACK

config USB_NRFX
	default y

endif # USB

if ZMK_DISPLAY

config I2C
	default y

config SSD1306
	default y

config SSD1306_REVERSE_MODE
	default y

endif # ZMK_DISPLAY

if LVGL

#config LVGL_HOR_RES_MAX
#	default 128

#config LVGL_VER_RES_MAX
#	default 32


config LV_Z_VDB_SIZE
	default 64

config LV_Z_DPI
	default 148

config LV_Z_BITS_PER_PIXEL
	default 1

choice LV_COLOR_DEPTH
	default LV_COLOR_DEPTH_1
endchoice

endif # LVGL

config ZMK_BLE
	default y

config ZMK_USB
	default y

config ZMK_KSCAN_MATRIX_POLLING
	default y

config ZMK_KSCAN_COMPOSITE_DRIVER
	default y

config ZMK_BATTERY_VOLTAGE_DIVIDER
	default y

# Bluetooth settings
config BT_CTLR
	default BT

config BT_BONDING_REQUIRED
	default y

config BT_SMP_SC_ONLY
	default y

config BT_SETTINGS_CCC_STORE_ON_WRITE
	default y

# Hardware stuff
config HW_STACK_PROTECTION
	default y

config MPU_ALLOW_FLASH_WRITE
	default y

config NVS
	default y

config FLASH
	default y

config FLASH_MAP
	default y

# MCUBoot
config BOOTLOADER_MCUBOOT
	default y

config ROM_START_OFFSET
	default 0x200

endif # SHIELD_LAB68
